@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.main {
    background-color: #1f2937;
    color: ghostwhite;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.logo-text {
    font-weight: 600;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 28px;
}

.parted-section {
    padding: 70px 0;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
}

.left-text-btn h1 {
    max-width: 225px;
    font-weight: 800;
}

.left-text-btn p {
    max-width: 505px;
}

.left-btn {
    margin-top: 8px;
    background-color: #3882f6;
    color: ghostwhite;
    font-weight: 800;
    padding: 6px 28px;
    border: none;
    border-radius: 4px;
}

.placeholder {
    width: 500px;
    height: 200px;
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    padding-top: 32px;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    padding-bottom: 90px;
}

.info-container {
margin-top: 24px;
width: 150px;
} 

.empty-box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 60px;
}

.quote {
    width: 700px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: end;
    font-weight: 800;
}

.sign-up-container {
    margin: 86px auto;
    padding: 48px;
    width: 800px;
    background-color: #3882f6;
    border-radius: 5px;
    color: ghostwhite;
}

.parted-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parted-section2 h3 {
    font-weight: 900;
} 

.right-btn {
    background-color: #3882f6;
    color: ghostwhite;
    border: 1px solid ghostwhite;
    font-weight: 800;
    padding: 6px 28px;
    border-radius: 5px;
}

.footer {
    background-color: #1f2937;
    color: ghostwhite;
    text-align: center;
    padding: 28px 0;
}